* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.begin {
    height: 800px;
    background: url('../img/background/main.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto; 
}

.logo .logo_text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title{
    margin-top: 30px;
}

.title {
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 21px;
}

.begin .begin_text{
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding: 0 13px;
    margin-top: 23px;
}

.begin .begin_text span {
    font-weight: 700;
    color: #f9bf3b;
}

.begin .begin_btn, .gift .gift_button{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.23);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.18);
    text-shadow: -1px -1px 0 rgba(0,0,0,0.22);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.gift .gift_button{
    margin: 0 auto;
    margin-top: 80px;
}

.begin .begin_down_text{
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.begin .arrow_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_text, .finish .finish_text, .gift .gift_header,.web .web_header{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

.web .web_header{
    margin-top: 37px;
}

.gift .gift_header{
    margin-top: 42px;
    line-height: 43px;
    text-transform: none;
}

.finish .finish_text{
    color: #efefef;
}

.waiting .waiting_block, .finish .finish_block{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subtext, .web .web_subtext{
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: 17px;
    text-align: center;
}

.waiting .waiting_wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 33px;
}

.girl {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.girl .girl_header, .web .web_date_header{
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    margin-left: 391px;
}

.web .web_date_header{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
    font-weight: 700;
    font-family: "Roboto - Bold";
}

.girl .girl_text p{
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 25px;
    margin-left: 391px;
}

.girl .girl_text span{
    font-weight: 700;
}

.girl .girl_img{
    position: absolute;
    top: -48px;
    left: -240px;
    z-index: -1;
}

.finish{
    min-height: 444px;
    background: url('../img/background/end.png') center center/cover no-repeat;
    padding: 86px 0 79px 0;
}

.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round{
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;
    text-align: center;
}

.gift{
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 83px 0;
}

.gift .gift_img{
    display: block;
    margin: 0 auto;
}

.web{
    min-height: 515px;
    padding: 89px 0 64px 0;
}

.web .web_img{
    display: block;
    margin: 0 auto;
}

.footer_links{
    height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.footer_links .f_wrapper{
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #888888;
    text-align: center;
}

.footer_links .f_wrapper a{
    text-decoration: underline;
    color: #888888;
}

